.button {
  padding: 4px;
  font-size: 12px;
  background-color: transparent;
  border: none;
  outline: 2px solid $color-red;
  transition: 0.2s ease-out all;
  border-radius: 4px;
  color: $color-red;

  &:hover {
    background-color: $color-red;
    color: white;
  }

  &--big {
    font-size: 16px;
    padding: 4px 8px;
  }

  &--link {
    background-color: $color-red;
    color: $color-white;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 36px;
    padding: 6px 12px;

    &:hover {
      background-color: $color-white;
      color: $color-red;
      text-decoration: none;
    }
  }
}
