.tabs {
  width: 100%;
  color: #332f2f;
  border: 3px solid #332f2f;

  &--title {
    font-size: 20px;
  }

  .tab {
    &--nav {
      display: flex;
      gap: 0px;

      &-item {
        cursor: pointer;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px 5px 0 0;
        transition: background-color 0.3s;
        width: 100%;

        &.active {
          background-color: var(--color-red);
          color: white;
          font-weight: bold;
        }

        &-title {
          font-size: 10px;
          line-height: 4px;
        }
      }
    }

    &--content {
      &-table {
        box-sizing: border-box;
        border-collapse: collapse;
        width: 100%;

        &-head,
        &-body {
          &-text {
            text-align: center;
            border: 1px solid #ddd;
            padding: 0;
          }
        }

        &-body {
          &-text {
            &.horse-item {
              display: flex;
              justify-content: center;
              .horse-name {
                font-size: 14px ;
              }
            }
          }
        }
      }
    }
  }
}
