.horse {
	display: flex;
	align-items: center;
	gap: 4px;
	line-height: 0;
	color: #332f2f;

	&--icon {
		height: 25px;
		width: auto;
		aspect-ratio: 4 / 3;
	}

	&-list {
		&--title {
			font-size: 2rem;
		}
		
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		&-wrapper {
			background-color: #f9f9f9;
			min-width: 27.8rem;
			padding: 8px 16px;
			color: #332f2f;
			border: 3px solid #332f2f;
			border-radius: 4px;

      
		}
	}

	&-name {
		font-size: 1.6rem;
	}

	&-performance-point {
		font-weight: bold;
		font-size: 1.2rem;
	}
}
