@import url(./atoms/tab.scss);
@import url(./atoms/text.scss);
@import url(./atoms/button.scss);
@import url(./molecules/horse-list.scss);
@import url(./organisms/race-controls.scss);
@import url(./organisms/race-display.scss);
@import url(./organisms/winner-list.scss);
@import url(./horse-race-view.scss);

:root {
  font-size: 10px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.app {
  &--nav {
    display: flex;
    gap: 12px;

    &-link {
      text-decoration: none;
      font-size: 12px;
      color: $color-gold;

      &:hover {
        text-decoration: underline;
        color: $color-red;
      }
      &:focus {
        color: $color-black;
      }
    }
  }
}


