.race {
  &--header {
  }

  &--title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }

  &--track {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    position: relative;
  }

  &--start-line,
  &--finish--line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .horse-id {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  &--start-line {
    font-size: 0.9rem;
    height: 100%;
    gap: 9px;
  }

  &--finish-line {
    height: 100%;
    writing-mode: vertical-rl;
    font-weight: bold;
    position: absolute;
    right: 16%;
  }

  &--line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
