$color-gold: #ffd700; // Gold color for winner
$color-silver: #c0c0c0; // Silver color for second place
$color-bronze: #6f3535; // Silver color for second place
$light-bg-color: #f8f9fa;
$dark-text-color: #333;
$secondary-text-color: #888;
$color-green: #204e33;
$color-black: #332f2f;
$color-white: #ffffff;
$color-red: #ce2f2f;
